@media (max-width: 1279px) {
    .healing {
        width: 100%;

        &__item {
            width: 100%;
        }
        &__img-item {
            margin: 212px 20px 33px 20px;
            width: 90%;
        }
    }
}

@media (max-width: 991px) {
    .healing {
        &__wrapper {
            padding: 60px 15px;
        }
    }
}

@media (max-width: 767px) {
    .healing {
        &__wrapper {
            flex-direction: column;
        }
    }
}
