@media (max-width: 575px) {
    .healing {
        &__wrapper {
            padding: 60px 0;
        }
        &__item {
            padding: 0 20px;
            box-sizing: border-box;

        }
        &__img {
            background: url('../img/backgr_sm.png') 50% 85% no-repeat;
            background-color: #FFFFFF;
            &-item {
                margin: 56px 11px 41px 36px;
                width: 80%;
            }
        }
        &__top {
            background: #FFFFFF;
        }
        &__text {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 700;
        }
        &__form {
            &-item {
                width: 100%;
            }
        }
        &__btn {
            width: 100%;
            padding-right: 50px;
            margin: 28px 0;
            &::after {
                right: 33%;
            }
        }
        &__input {
            &-bottom {
                width: 174px;
                margin-right: 10px;
            }
        }
        &__language {
            width: 96px;
            padding: 10px 10px;
            font-size: 22px;
        }
        select {
            background-position: calc(100% - 10px) calc(1em + 1px);
        }
        &__secure {
            display: flex;
            margin-bottom: 12px;
            img {
                margin: 0 20px;
            }
            span {
                font-weight: 700;
                font-size: 14px;
                line-height: 130%;
                color: #212121;
            }
        }
    }
}